header{
    border-bottom: 1px solid lightgray;
    
}
#title{
    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    font-size: 40px;
}

 #home-button {
    height: 60px;
    width:60px;
    margin-left: 5px;
    margin-top: 5px;
    cursor: pointer;
    border-radius: 100%;
    float: left;
    
}


#home-button:hover{
   opacity: 50%;
   cursor: pointer;
}

#search {
    border-radius: 5px;
    padding: 5px;
    margin-top: 20px;
    margin-left: 10px;
    height: 30px;
} 
 

