 body {
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family:'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;

    background-image: url("../pictures/01.jpg") ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center ;
}

#mealContainer {
    height: 100%;
    width: 100%;
}

#mealName{
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
}

#mealImg{
    height: 200px;
    width: 200px;
    border-radius: 50%;
}

#mealDesc{
    height: 100%;
    width: 100%;
}

#description {
    padding-top: 50px;
    border-bottom: 1px solid black;
    text-align: center;
}

#navTitle, #contentTitle {
    font-family: 'Lobster', cursive;
}

#thankyou {
    padding-top: 30px;
    font-family: 'Rancho', cursive;
}
.meal-navigation {
    width: 100px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 20px;
   }
   
   .meal-navigation > div {
    user-select: none;
    cursor: pointer;
   }