body {
    font-family: Arial, Helvetica, sans-serif;
  }
  
  #meals-container {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
  }
  
  p {
    margin: 0;
  }
  
  #parentDiv{
    display: flex;
    flex-direction: row;
  }
  